/*importamos los fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');


* {
    font-family: "Shantell Sans";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*seccion inicio*/
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("img/fondo1.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: right;
    padding: 0 10px;
}

.inicio .contenido-seccion header {
    padding: 20px;
}

.inicio .contenido-seccion header .nav {
    position: fixed;
    margin-left: 60px;
    background-color: crimson;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header .nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 12px;
    font-weight: bold;
}

.inicio .contenido-seccion header .nav-bar {
    position: fixed;
    background-color: crimson;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    /*border: 1px solid rgba(0, 0, 0, .3);*/
}

.inicio .contenido-seccion header .nav-bar:hover {
    box-shadow: 0 0 35px #fff;
}

.inicio .contenido-seccion header .foto img {
    width: 200px;
    height: 200px;
}

.inicio .contenido-seccion .info {
    padding-bottom: 100px;
}

.inicio .contenido-seccion .info h1 {
    font-size: 3rem;
    letter-spacing: 10px;
}

.inicio .contenido-seccion .info h2 {
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 3px;
}